.test-reporter {
	font-family: Lato, Helvetica, Arial, sans-serif;
	padding-bottom: 40px;
	.title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.no-tests {
		color: #aaa;
	}
	.test-stats {
		background-color: #090;
		color: #fff;
		font-size: 15px;
		font-weight: normal;
		line-height: 1.8;
		padding: 0 5px;
	}
	&.has-failures .test-stats {
		background-color: #c00;
	}
	.test-results > .test-suite:first-child {
		margin-left: 0;
	}

	.test-suite {
		margin: 10px 0 0 20px;
		.suite-description {
			font-size: 15px;
		}
	}

	.test-spec {
		font-size: 14px;
		margin: 3px 0 0 20px;
		&.passed {
			color: #090;
		}
		&.failed {
			color: #c00;
			.failed-spec {
				border-left: 1px solid #c99;
				color: #999;
				margin: 5px 0 10px 2px;
				padding-left: 10px;
			}
			.failed-spec-message {
				color: #900;
			}
			.failed-spec-stack {
				color: #666;
				font-style: italic;
				margin: 6px 0 0 0;
				white-space: pre-wrap;
			}
		}
		&.pending {
			color: #eb3;
		}
	}
}
